/* RESETS */

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	background-image: url(./img/White\ background\ texture.jpg);
	background-position: center;
	background-size: cover;
}

body * {
	font-family: inherit;
}

/* VARIABLES */

:root {
	--color-light: #fafafa;
	--color-dark: #4a4a4a;
	--sidebar-width: 3.5rem;
	/* 30px padding */
	--section-padding: 1.875rem;
	--border-width: 5px;
}

/* STYLES  */

html {
	scroll-behavior: smooth;
}

.nav {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transition: top 0.3s ease-out;
	position: fixed;
	height: 100vh;
	width: 100%;
	top: -100%;
	left: 0;
	z-index: 1000;
}

.nav.nav--active {
	top: 0;
}

.nav.nav--active .nav__background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(./img/Glitch\ Effect\ Background\ 1.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.nav.nav--active .nav__background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

.nav__button {
	position: fixed;
	top: 0;
	right: 15%;
	color: var(--color-light);
	background-color: transparent;
	font-size: 18px;
	padding: 10px 12px;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	transition: color 0.3s ease-out;
	z-index: 2000;
	transition: transform 0.1s ease-out;
}

.nav__button:hover {
	transform: scale(1.1);
	transform-origin: center top;
}

.nav.nav--active .nav__button {
	color: var(--color-dark);
}

.nav__button-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(./img/Glitch\ Effect\ Background\ 4.jpg);
	z-index: -1;
}

.nav__button-background:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
}

.nav.nav--active .nav__button-background {
	background-image: url(./img/White\ background\ texture.jpg);
}

.nav.nav--active .nav__button-background::after {
	background-color: rgba(255, 255, 255, 0.1);
}

.nav__button-lines-container {
	height: 18px;
	width: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-right: 8px;
	transform: rotate(-15deg);
}

.nav__button-lines {
	height: 3px;
	width: 100%;
	background-color: var(--color-light);
	display: block;
	transition: color 0.3s ease-out;
}

.nav.nav--active .nav__button-lines {
	background-color: var(--color-dark);
}

.nav__button-lines:nth-child(2) {
	width: 70%;
	margin: 0 auto;
}

.nav__list {
	margin-top: auto;
	list-style: none;
}

.nav__list--text {
	margin-bottom: -5rem;
}

.nav__item {
	margin: 55px 0;
	text-align: center;
}

.nav__link--text {
	font-size: 28px;
	text-decoration: none;
	text-transform: lowercase;
	color: var(--color-light);
}

.nav__list--icons {
	list-style: none;
	display: flex;
	width: 80%;
	justify-content: space-around;
	margin-bottom: 5rem;
}

.nav__link--icon {
	display: block;
	height: 38px;
	width: 38px;
}

.nav__icon {
	height: 100%;
	width: 100%;
	color: var(--color-light);
	filter: invert();
}

.nav__item {
	transition: transform 0.1s ease-out;
}

.nav__item:hover {
	transform: scale(1.1);
}

.sidebar {
	display: none;
}

.section {
	padding: 0 var(--section-padding);
}

.section--home {
	height: 100vh;
	width: 100%;
	position: relative;
}

.header__title {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 54px;
	font-weight: 400;
	line-height: 1;
}

.title__variant {
	font-size: 36px;
}

.section__header--home {
	padding-top: 5rem;
}

.home__image-container {
	position: relative;
	width: 150px;
	margin-top: 50px;
}

.home__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transform: rotate(-90deg);
}

.home__image-circule-background {
	height: 150%;
	width: 85%;
	border-radius: 50%;
	border: var(--border-width) solid #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.home__down-arrow-container {
	position: absolute;
	bottom: 2rem;
	right: 0;
	width: 48px;
	height: 48px;
	animation: 0.5s pulse alternate forwards infinite;
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.home__down-arrow {
	width: 100%;
	height: 100%;
}

.section__wrapper {
	position: relative;
	width: 100%;
	max-width: 90rem;
}

.section__wrapper--home {
	height: 100%;
}

.section__header {
	position: relative;
}

.section__heading-container {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.section__heading-container--contact {
	justify-content: flex-end;
}

.section__heading {
	font-weight: 400;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 54px;
	line-height: 1;
	padding: 2.5rem 1rem;
}

.section__heading--contact {
	order: 2;
}

.section__heading-line {
	bottom: 0;
	background-color: #000000;
	height: var(--border-width);
	flex: 0 1 15%;
}

.section__heading-background {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 72px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	opacity: 0.1;
}

.section__heading-background--contact {
	right: 0;
	left: unset;
}

.projects__container {
	position: relative;
}

.projects__project-card {
	border: var(--border-width) solid #000000;
	margin: 0 auto;
	min-height: 250px;
	background-color: var(--color-light);
	box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.5);
	padding: 1rem;
}

.project__card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	min-height: 310px;
}

.projects__project-card:not(:nth-last-child(1)) {
	margin-bottom: 3rem;
}

.project-card__heading {
	text-align: right;
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-size: 27px;
}

.project-card__text {
	font-size: 18px;
	color: var(--color-dark);
	margin: 1rem 0;
}

.project-card__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}

.project__logos-container {
	width: 40%;
	display: flex;
	justify-content: space-around;
	position: relative;
}

.project__logo {
	height: 32px;
	width: 32px;
}

.project__logo:nth-child(2) {
	position: absolute;
	bottom: 100%;
}

.projects__links-container {
	width: 60%;
	margin-left: 1rem;
}

.projects__link {
	display: block;
	text-align: right;
	padding: 0.5rem 0;
	color: var(--color-dark);
	text-decoration: none;
	line-height: 1;
}

.projects__link:hover {
	text-decoration: underline;
}

.projects__link-logo {
	width: 12px;
	height: 12px;
}

.projects__banner {
	height: 200px;
	width: 100vw;
	max-width: 90rem;
	position: absolute;
	background-image: url(./img/Glitch\ Effect\ Background\ 3.jpg);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.projects__banner:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.contact__form-label {
	font-family: 'Bebas Neue', sans-serif;
	display: block;
	font-size: 27px;
}

.contact__form-input-container:not(:first-child) {
	margin-top: 1rem;
}

.contact__form-input {
	width: 100%;
	outline: none;
	border: var(--border-width) solid #000000;
	height: 3rem;
	padding: 1rem 1rem;
	font-size: 18px;
}

.contact__form-input--message {
	height: 175px;
	resize: none;
}

.contact__form-button {
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
	outline: none;
	border: none;
	color: var(--color-light);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 27px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.contact__form-button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url(./img/Glitch\ Effect\ Background\ 1.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.footer {
	height: 100px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--color-light);
	font-family: 'Bebas Neue', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	margin-top: 3rem;
}

.footer::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url(./img/Glitch\ Effect\ Background\ 5.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.footer__text {
	text-align: center;
}

.footer__text-hearth-icon {
	background-image: url(./img/icons/hearth.svg);
	height: 16px;
	width: 16px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	filter: invert();
	margin: 0 5px;
}

.footer__go-up-link {
	position: absolute;
	color: var(--color-light);
	text-decoration: none;
	top: 50%;
	right: 0;
	transform: translateY(-50%) rotate(-90deg);
}
.footer__go-up-icon {
	background-image: url(./img/icons/up-arrow-white.svg);
	height: 16px;
	width: 16px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	transform: rotate(90deg);
	margin: 0 5px;
}

/* MEDIA QUERIES */

/* 336px - Mobile S Size*/
@media (min-width: 21rem) {
	.home__image-container {
		width: 250px;
		margin-top: 100px;
	}

	.section__heading-line {
		flex: 0 1 25%;
	}
}

/* 544px - Mobile L Size*/
@media (min-width: 33rem) {
	:root {
		--border-width: 8px;
		/* 50px padding */
		--section-padding: 3.125rem;
	}
	.nav {
		top: 0;
		justify-content: flex-start;
		height: auto;
	}
	.nav__background,
	.nav__background::after {
		display: none;
	}
	.nav__list--text {
		display: flex;
		justify-content: flex-end;
		column-gap: 2rem;
		width: 80%;
		margin: 0;
	}
	.nav__list--icons {
		display: none;
	}
	.nav__item {
		padding: 0.5rem 0.8rem;
		margin: 0;
		position: relative;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.nav__item:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url(./img/Glitch\ Effect\ Background\ 4.jpg);
		z-index: -1;
	}

	.nav__link--text {
		font-size: 18px;
	}
	.nav__button {
		display: none;
	}

	.sidebar {
		height: 100vh;
		width: var(--sidebar-width);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		background-image: url(./img/Glitch\ Effect\ Background\ 4.jpg);
		z-index: 3000;
	}

	.sidebar::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		z-index: -1;
	}

	.sidebar__list {
		display: flex;
		row-gap: 4rem;
		flex-direction: column;
		list-style: none;
	}

	.sidebar__item {
		display: block;
	}

	.sidebar__icon {
		height: 32px;
		width: 32px;
		filter: invert();
	}
	.section {
		width: calc(100% - var(--sidebar-width));
		margin-left: auto;
		margin-bottom: 3rem;
	}
	.section__header--home {
		padding-top: 5.5rem;
	}
	.home__image-container {
		width: 250px;
	}

	.home__down-arrow-container {
		bottom: 4rem;
		right: 1rem;
		width: 64px;
		height: 64px;
	}

	.title__variant {
		font-size: 45px;
	}

	.section__heading,
	.header__title {
		font-size: 63px;
	}

	.section__heading-background {
		font-size: 108px;
	}

	.projects__banner {
		width: calc(100vw - var(--sidebar-width));
		margin-left: auto;
	}

	.projects__project-card {
		border: var(--border-width) solid #000000;
		margin: 0;
	}

	.projects__project-card {
		max-width: 350px;
		min-height: 290px;
	}

	.projects__project-card:nth-child(2n + 1) {
		margin-left: auto;
	}

	.project-card__heading {
		font-size: 27px;
	}

	.contact__form-input-container {
		display: flex;
	}

	.contact__form-label {
		order: 2;
		margin-left: 1rem;
	}

	.contact__form-input {
		width: 70%;
	}
	.section__header {
		margin-bottom: 2rem;
	}

	.footer {
		padding-left: var(--sidebar-width);
	}
}

/* 768px - Tablet Size*/
@media (min-width: 48rem) {
	.section__wrapper {
		height: 100%;
		margin: 0 auto;
	}
	.home__image-container {
		width: 400px;
		margin-top: 125px;
	}

	.projects__container {
		padding: 0;
	}
	.contact__form-input {
		width: 60%;
	}
}

/* 1024px - Laptop Size */
@media (min-width: 64rem) {
	:root {
		--sidebar-width: 4rem;
	}
	.section__wrapper--home {
		display: flex;
		align-items: center;
	}
	.section__header--home {
		width: 50%;
		margin-left: auto;
		padding-top: 0;
		padding-bottom: 5.5rem;
		order: 2;
		flex: 2 1 50%;
	}
	.home__image-container {
		width: 80%;
		margin: 0;
		flex: 0 1 50%;
		/* transform: rotate(0) translateY(-50%); */
	}
	.projects__container {
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			'tl . .'
			'. cc .'
			'. . br';
		column-gap: 2rem;
		justify-content: center;
		align-items: start;
	}

	.project__card-wrapper {
		min-height: unset;
	}

	.projects__project-card {
		position: relative;
	}

	.projects__project-card:not(:nth-last-child(1)) {
		margin-bottom: 0;
	}

	.projects__project-card {
		max-width: unset;
	}

	.project__card-wrapper {
		aspect-ratio: 1 / 1;
	}

	@supports not (aspect-ratio: 1 / 1) {
		.project__card-wrapper::before {
			float: left;
			padding-top: 100%;
			content: '';
		}

		.project__card-wrapper::after {
			display: block;
			content: '';
			clear: both;
		}
	}
	.projects__project-card:nth-child(2n + 1) {
		margin-left: 0;
	}

	.projects__project-card:nth-child(1) {
		grid-area: tl;
		/* grid-row: 3 / 4;
		grid-column: 1 / 2; */
	}

	.projects__project-card:nth-child(2) {
		grid-area: cc;
		/* grid-row: 2 / 3;
		grid-column: 2 / 3; */
	}

	.projects__project-card:nth-child(3) {
		grid-area: br;
		/* grid-row: 1 / 2;
		grid-column: 3 / 4; */
	}

	.contact__form-input {
		width: 50%;
	}

	.project-card__heading {
		font-size: 36px;
	}
	.contact__form-label {
		font-size: 36px;
	}
	.contact__form-input,
	.contact__form-button {
		height: 4rem;
	}

	.contact__form-input--message {
		height: 16rem;
	}

	.contact__form-input-container:not(:first-child),
	.contact__form-button {
		margin-top: 3rem;
	}

	.footer {
		font-size: 27px;
		margin-top: 5rem;
	}

	.section__header {
		margin-bottom: 8rem;
	}

	.section__header:not(.section__header--projects) {
		margin-top: 8rem;
	}
}

/* 1440px - Laptop L Size */
@media (min-width: 90rem) {
	:root {
		--sidebar-width: 5.5rem;
		--border-width: 10px;
	}

	.home__down-arrow-container {
		width: 96px;
		height: 96px;
	}

	.title__variant {
		font-size: 72px;
	}
	.section__heading,
	.header__title {
		font-size: 144px;
	}

	.section__heading-background {
		font-size: 216px;
	}

	.projects__project-card {
		border-width: var(--border-width);
	}

	.project-card__heading {
		font-size: 54px;
	}

	.project-card__text {
		font-size: 27px;
		margin: 1rem 0 2rem;
	}
	.nav__link--text {
		font-size: 36px;
	}

	.contact__form-button {
		font-size: 36px;
	}

	.sidebar__icon {
		height: 48px;
		width: 48px;
		filter: invert();
	}

	.contact__form-input {
		border-width: var(--border-width);
	}
}
